---
Language: Cpp
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AlignTrailingComments: true
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentCaseLabels: false
IndentWidth: 4
MaxEmptyLinesToKeep: 1
SortIncludes: false
UseTab: Never
...
