"*":
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
    cpp:
      default_beautifier: "clang-format"
    general:
      _analyticsUserId: "0f3fc3ce-63de-43fa-8fb0-1a77bf259089"
      beautifyEntireFileOnSave: false
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-sublime-monokai-syntax"
    ]
  editor:
    fontSize: 10
    lineHeight: 1.2
    showIndentGuide: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "8d26651e-5b68-4ae8-ac65-37e25ae33cc5"
  "goto-definition":
    performanceMode: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "symbols-tree-view":
    scrollAnimation: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
